.centre-heading {
    width: 100%;
    text-align: center;
    font-size: 5em;
    color: crimson;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: .15em
}

.container { position:relative; }
.container video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:1;
}
.red {
    background-color: red;
    color: white;
    }
.silver {
    background-color: silver;
    color: black;
}
.action {
    border-radius: 0.1em;
    padding: 0.15em;
    text-align: center;
    font-size: 0.5em;
    text-decoration: none;
}
.form-font {font-family: Helvetica, sans-serif;}
.textarea {height: 500px; width: 80%;}